taskmanager/settings.py
django_3.0_book_test/rest_in_venv
venv
0.sublime-workspace
pic,gif,another
.idea
.git
__pycache__
.gitignore
python_tests
/htmlsripts/assets
save file
2_test.css
2_test.html
