re_start/re_webBook/todo
taskmanager/settings.py
practice_rooms
win_venv
venv
0.sublime-workspace
pic,gif,another
.idea
.git
__pycache__
.gitignore
practice_rooms/python_practice
practice_rooms/js_practice
/htmlsripts/assets
save file
2_test.css
2_test.html
