body {
    background: url('pic,gif,another/367f918571959eb12d9143db08c39833.gif');
    font-family: Tahoma;
    line-height: 1.5;
    font-size: 18px;
}

.face {
    width: 400px;
    margin: 0 auto;
    padding: 10px;
    /* paddint == внутрренний отступ */
    background-color: rgb(233, 225, 214);
    box-shadow: 0 5px 10px rgb(182, 172, 172);
    border-radius: 10px;
}

.face_photo {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    /* == округление углов */
}

.card_title {
    font-size: 25px;
    text-align: center;
    color: #627ab0;
}

.card_text {
    font-size: 15px;
    font-style: italic;
}

.card_subtitle {
    color: #72875d;
    text-align: center;
}

.card_list_card {
    padding-left: 0;
    list-style-position: inside;
    /* берёт отступы мэйна(10/5 пикс в моём случае)*/
}