*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}


/* обнуляем + очищаем все стили*/

html,
body {
    height: 100%;
    line-height: 1;
    background: #fefdfe;
    font-size: 14px;
    color: #252b42;
    font-weight: 500;
    font-family: Montserrat;
    /* настркой дефолт настроек:фон,шрифты */
}


/* ---------------------------------------------------------------------------- */

.wrapper {
    min-height: 100%;
    overflow: hidden;
    /* общая оболочка для отсутсвия гориз скролла(боди не подходит(дефолтный скролл уйдёт)  overflow: hidden; == скрыть каку*/
    display: flex;
    flex-direction: column;
    /* flex-direction: column; Направление, в котором блоки будут располагаться вертикально(column-reverse == прибить к потолку например) */
    /* флекс футер 1:17:36 делаем флекс бокс для мэйн дива */
}


/* ---------------------------------------------------------------------------- */

._container {
    max-width: 1046px;
    padding: 0px 15px;
    margin: 0px auto;
    box-sizing: content-box;
    /* box-sizing 1:05:20(избавленрие от прилипания)(отступы безопасности) */
    /* выставит блок по центру + ограничивает дивы по ширине*/
}

@media(max-width:540px) {
    ._container {
        padding: 0px 5px;
    }
}

._ibg_g {
    position: relative;
}

._ibg img {
    margin-top: 100px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    /* object-fit: scale-down; */
    /* object-position: 0 0; */
}

@media(max-width:768px) {
    ._ibg img {
        margin-top: 75px;
    }
}

@media(max-width:540px) {
    ._ibg img {
        margin-top: 60px
    }
}


/* ------------ Header---------------------------------------------------------------- */


/* мб убрать  flex: 0 1 33.333%; и переделать? хотя вроде так прикольно */

.header_main {
    position: absolute;
    /*не делаем фиксированной(чтоб дигалась за нами),чтоб было делаем абсолютной(статик?) 55:10  */
    width: 100%;
    left: 0;
    top: 0;
    /* большой z-Index чтоб была на первом плане */
}

.header_container {
    display: flex;
    /* т.к флекс контейнер */
    min-height: 104px;
    align-items: center;
    /* align-items centr == выравнивание обьекта по центру */
}

@media(max-width:768px) {
    .header_container {
        min-height: 70px
    }
}

@media(max-width:540px) {
    .header_container {
        min-height: 40px
    }
}

.switch_theme {
    flex: 0 1 20%;
}

.switch_theme img {
    height: 95px;
}

@media(max-width:1024px) {
    .switch_theme img {
        height: 75px;
    }
}

@media(max-width:430px) {
    .switch_theme img {
        height: 50px;
    }
}

@media(max-width:300px) {
    .switch_theme img {
        height: 32px;
    }
}

.header_menu {
    flex: 0 1 80%;
    height: 100%;
    align-items: center;
}

.header_menu_list {
    display: flex;
    flex-wrap: wrap;
}

.menu__item {
    /* .menu__item:not(:last-child) { */
    /* not(:last-child) ==  для всех обьектов кроме последнего 1:03:47 */
    margin: 0px 21px 0px 0px;
}

@media(max-width:570px) {
    .menu__item {
        margin: 0px 10px 0px 0px;
    }
}

.menu_link {
    color: #737373;
    font-weight: 600;
    line-height: calc(24/14*100%);
}

@media(max-width:342px) {
    .menu_link {
        font-size: 10px;
        font-weight: 700;
    }
}

.menu_link:hover {
    text-decoration: underline;
    /* подчёркивание для интерактива */
}

.gif_smile_tea {}

.Qq_tea {
    flex: 0 1 20%;
    height: 100%;
    display: flex;
    align-items: center;
    float: right;
    margin: 0px 0px 0px 75px;
}

@media(max-width:767px) {
    .Qq_tea {
        margin: 0px 0px 0px 25px;
    }
}

@media(max-width:320px) {
    .Qq_tea {
        margin: 0px 0px 0px 0px;
    }
}

.gif_smile_tea img {
    height: 70px;
}

.header_logo {
    font-size: 24px;
    font-weight: 700;
    color: inherit;
}

@media(max-width:540px) {
    .gif_smile_tea img {
        height: 55px;
        margin-bottom: 10px;
    }
    .header_logo {
        font-size: 22px;
        font-weight: 700;
    }
}

@media(max-width:430px) {
    .gif_smile_tea img {
        height: 50px;
    }
    .header_logo {
        font-size: 20px;
        font-weight: 700;
    }
}

@media(max-width:210px) {
    .gif_smile_tea img {
        height: 40px;
    }
    .header_logo {
        font-size: 18px;
        font-weight: 700;
    }
}


/* ---------Section_1---------------------------------------------------------------------------------------------------------- */

.section_1 {
    margin-top: 100px;
}

@media(max-width:768px) {
    .section_1 {
        margin-top: 75px;
    }
}

.main_hello_container {
    position: absolute;
    /* Poastiton:absolute == выставление обьекта в обьект, важно! можешь вспомнить что каво тут(https://www.youtube.com/watch?v=gEmVpPpRjcE)*/
    top: 40%;
    /* отступ сверху */
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    letter-spacing: 0.2px;
    /* авто отступы + центрирование */
    color: #fefdfe;
    opacity: 70%;
}

@media(max-width:350px) {
    .main_hello_container {
        top: 35%;
    }
}

@media(max-width:310px) {
    .main_hello_container {
        top: 30%;
    }
}

.hello_title {
    font-size: 75px;
    line-height: 137%;
}

.hello_text {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px
}

@media(min-width:1024px) {
    .hello_title {
        font-size: 90px;
    }
    .hello_text {
        font-size: 22px
    }
}

@media(max-width:610px) {
    .hello_title {
        font-size: 50px;
    }
    .hello_text {
        font-size: 18px;
    }
}

@media(max-width:425px) {
    .hello_title {
        font-size: 30px;
    }
    .hello_text {
        font-size: 16px;
    }
}

@media(max-width:300px) {
    .hello_title {
        font-size: 18px;
    }
    .hello_text {
        font-size: 12px;
    }
}

.main_hello_image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.main_hello_image img {
    filter: brightness(45%);
}

@media(max-width: 558px) {
    .main_hello_image img {
        height: 70%;
    }
}

@media(max-width: 350px) {
    .main_hello_image img {
        height: 60%;
    }
}

@media(max-width: 300px) {
    .main_hello_image img {
        height: 50%;
    }
}


/* ------------ Section_2---------------------------------------------------------------- */