{% extends "layout/basic.html" %}
{% block title %} Добавление обьявления {% endblock %}
{% block content %}
<h1> Добавить обьявление</h1>
<form method="post">
<!--    форма..которая берёт форму из forms?
 получает инфу о том какую форму брать т.к она указанна в классе вызова .views-->
    {% csrf_token %}
<!--    тег шаблонизатора csrf_token  ==часть подсистемы безопасности Django-->
    {{ form.as_p }}
<!--    для вывода формы, элементы управления которой находятся на отдельных абзацах, применяется метод as p () к-->
<!--    as_р() генерирует только код, создающий элементы управления-->
    <input type="submit" value="Добавить">
<!--    кнопка отправки данных-->
</form>
{% endblock %}