{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href="{% static 'css/about_me_main/about_me_main.css' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800&display=swap"
        rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static '../media/icons/doggy_browser.ico' %}" type="image/x-icon">
    <title>QqAbout</title>
</head>

<body>
    <div class='wrapper'>
        {% block header %}
        <header class='section_header'>
            <div class="header">
                <div class="header_container">
                    <a href='' class='switch_theme'>
                        <!-- <img src="{% static 'media/about_me_main/icons/night_day_theme.gif' %}" alt="night_theme_gif"> -->
                    </a>
                    <div class='header_menu menu'>
                        <ul class='header_menu_list'>
                            <li class='menu__item'>
                                <a href='#Projects_skills_anchor' class='menu_link'>Exp</a>
                            </li>
                            <li class='menu__item'>
                                <a href='#navigation_menu' class='menu_link'>Apps</a>
                            </li>
                            <li class='menu__item'>
                                <a href='#about_info' class='menu_link'>About&Contacts</a>
                            </li>
                        </ul>
                    </div>
                    <div class='right_block_header_Qq_tea'>
                        <div class='Qq_tea'>
                            <a href='' class='header_logo'>Qq!</a>
                            <a href='' class='gif_smile_tea'><img src="{% static 'media/about_me_main/icons/smile_tea.gif' %}"
                                    alt='gif_smile_tea_fail'></a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        {% endblock %}

        {% block page_content %}
        <main class="page">
            <section id="navigation_menu" class='section_main_0'>
                <div class="page_main-block main-block">
                    <div class="main-block_container _container">
                        <div class="main-block_hello-user">
                            <h1 class="main-block_hello-title">Hello user</h1>
                            <div class="main-block_text ">
                                <p class='hello_text'>Some navigation: 
                                <a class="main-block_text _link" href="#Projects_skills_anchor">Projects, </a>    
                                <a class="main-block_text _link" href="#about_info">About, </a>    
                                <a class="main-block_text _link" href="{% url 'about_me:alt_about_me' %}">AltAboutMePage, </a>    
                                <a class="main-block_text _link" href="{% url 'about_me:portfolio_main' %}">Portfolio. </a>    
                                <!-- <a class="main-block_text _link" href="{% url 'react_notesApp:notesApp' %}#/notes">NotesApp</a> -->
                                </p>
                            </div>
                            <div class='main_hello_button_border'>
                                <div class='main_hello_button'>
                                    <a href='' class='main_hello_button_text'> do something </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main-block_image _ibg ">
                        <img src="{% static 'media/about_me_main/content/Samurai-Fox-Wallpaper.gif' %}"
                            alt="fox_gif ">
                    </div>
                </div>
            </section>
            <div class='kek_compensation'>
            </div>
            <section id="Projects_skills_anchor" class='section_about-me_1'>
                <div class='about-me_1_container'>
                    <div class='about-me_1_body'>
                        <div class='about-me_1_body_left_side'>
                            <div class='about-me_1_block_text text_block_reply'>
                                <div class='block_text_title'>
                                    <h3 class='h3_title'>Some projects & Exp</h3>
                                </div>
                                <div class='block_text_main_title'>
                                    <h2 class='h2_title'>◖⚆ᴥ⚆◗</h2>

                                </div>
                                <div class='block_text_link'>
                                    <p class='about-me_1-text'>Olympiad, MK/MSU collaboration.
                                        Django, a service for hosting olympiads (backend), <a href="https://pvg.mk.ru/" class='link_word'>
                                            link</a> </p>
                                </div>
                                <div class='block_text_link'>
                                    <p class='about-me_1-text'>Car magazine (fullstack, with site layout), <a href="https://www.avtovzglyad.ru/podcast/" class='link_word'>
                                        link</a> </p>
                                </div>
                                <div class='block_text_link'>
                                    <p class='about-me_1-text'>Corporate website(backend), <a href="http://r-t-c.eu/en/" class='link_word'>
                                        link</a> </p>
                                </div>
                                <div class='block_text_link'>
                                    <p class='about-me_1-text'>Women's magazine(only front),  <a href="http://www.jetsetter.ua/" class='link_word'>
                                        link</a> </p>
                                </div>
                                <div class='block_text_link'>
                                    <p class='about-me_1-text'>Planner app(only front mobile),  <a href="https://apps.apple.com/ru/app/%D0%BE%D1%82-%D1%8F-%D0%B4%D0%BE-%D1%8F-%D0%BF%D1%83%D1%82%D1%8C-%D1%80%D0%BE%D1%81%D1%82%D0%B0-%D0%BB%D0%B8%D1%87%D0%BD%D0%BE%D1%81%D1%82%D0%B8/id1542790851" class='link_word'>
                                        link</a> </p>
                                </div>
                                <div class='block_text_link'>
                                    
                                    <!-- <p class='about-me_1-text'>And much more...</p> -->
                                    <!-- <p class='about-me_1-text'>Some projects(freelance -->
                                        <!-- <p style="font-size:80%; color: #c9be68;">(if I got permission to "open source" publication)) </p>and pet projects added to  <a href="{% url 'about_me:portfolio_main' %}" class="link_word">portfolio</a></p> -->
                                        <p class='about-me_1-text'>Open source projects added to <a href="{% url 'about_me:portfolio_main' %}" class="link_word">portfolio</a></p>

                                </div>

                                <hr class="hr_skills">

                                <div class='skills_list about-me_1-text'>
                                    <div class="skill_category">
                                    <h4 class="about-me_1-text">Backend</h4>
                                    <p class="sub_text">Python(Django,Flask,FastApi,SQLAlchemy,AIOGram,Pytest, and much more ...)</p>
                                       <p class="sub_text"> DB (SQLite,PostgreSQL,MySQL,MongoDB, Redis)</p>
                                       <p class="sub_text">PHP(Laravel)</p>
                                       <p class="sub_text"> Native langs: Go, Java, C</p>
                                    </div>
                                    <div class="skill_category">
                                       <h4 class="about-me_1-text">Frontend & Mobile</h4>
                                       <p class="sub_text">HTML&CSS(CSS & SCSS), Native JS(JS & TS), jQuery, React, PWA </p>
                                       <p class="sub_text">ReactNative( JS & TS ), Kivy(Python), Brython(Python)</p>
                                    </div>
                                    <div class="skill_category">
                                       <h4 class="about-me_1-text ">DevOps & Other</h4>
                                       <p class="sub_text">REST, RPC, SOAP, Websocket,Docker,Kubernetes, CI/CD, Nginx, ...</p>
                                    </div>
                                    <div class="skill_category">
                                       <h4 class="about-me_1-text">Special abilies</h4>
                                       <p class="sub_text">Optimism, Fireball (っ・ω・)っ≡≡≡≡≡☆</p>
                                    </div>
                                    <div class='skill_category '>
                                        <p class='about-me_1-text '>And much more...</p>
                                    </div>
                                </div>
                                <div class='about-me_1_block_text_button_border'>

                                    <a href="{% url 'about_me:portfolio_main' %}" class='about-me_1_block_text_button'>Portfolio</a>

                                </div>
                            </div>
                        </div>
                        <div class='about-me_1_body_right_side'>
                            <div class='section_about-me_1_gallery'>
                                <div class='about-me_1_body_main_png'>
                                    <div class='about-me_1_body_main_png_doggy_dialog'>
                                        <!-- <p class='hidden_hi'>Дарова</p> -->
                                        <div class='about-me_1_body_main_png_doggy_1'>
                                            <p class='hidden_hi'>Дарова</p>
                                            <img src="{% static 'media/about_me_main/content/photoshoped_ez_Doogy_main.png' %}"
                                                alt="main_doggy">
                                        </div>
                                    </div>
                                    <!-- width="500px" -->
                                </div>
                                <div class='about-me_1_slider'>
                                    <div class='slider position_center'>

                                        <div class="slider__item filter">
                                            <img data-lazy="{% static 'media/about_me_main/slider_pic/0.jpg' %}" alt=''>
                                        </div>
                                        <div class="slider__item filter">
                                            <img data-lazy="{% static 'media/about_me_main/slider_pic/1.jpg' %}" alt=''>
                                        </div>
                                        <div class="slider__item filter">
                                            <img data-lazy="{% static 'media/about_me_main/slider_pic/2.jpg' %}" alt=''>
                                        </div>
                                        <div class="slider__item filter">
                                            <img data-lazy="{% static 'media/about_me_main/slider_pic/3.jpg' %}"alt=''>
                                        </div>
                                        <div class="slider__item filter wide_doggy">
                                            <img data-lazy="{% static 'media/about_me_main/slider_pic/4.png' %}"height='550'
                                                alt=''>
                                        </div>


                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </section>
            <section id="about_info" class='section_about-me_2'>
                <div class="about-me_2_container _container">
                    <div class="profile_header">
                        <h2 class="header_profile_h2">Profile</h2>
                        <h2 class="header_profile_h3">Full stack developer</h2>
                    </div>
                    <div class='about-me_2_main'>
                        <div class='about-me_2_main_about _about-me_not-lats_margin'>
                            <h4 class='about-me_2_title _h4'>About </h4>
                            <div class='about-me_2_text _just_p_text'>
                                <p>First web app: ~2013  </p>
                                <p>Python is my favorite language in which I can write a service of almost arbitrary complexity. </p>
                                <p>I like and I have some exp on 'Go'</p>
                                <p>I am positive about Rust, strong typing, type theory in and elements Fp</p>
                               
                            </div>
                            <div class='about-me_2_text _just_p_text'>
                                <p>image by <a href='#navigation_menu' class='link_word'>just_link</a></p>
                            </div>

                        </div>
                        <div class='about-me_2_main_img'>
                            <img src="{% static 'media/about_me_main/content/cute_doggy_about.jpg' %}" alt="doggy_pc">
                        </div>
                        <div class='about-me_2_main_details _about-me_not-lats_margin'>
                            <h4 class='about-me_2_main_details_title _h4'> Details</h4>
                            <div class='about-me_2_main_detaiL'>
                                <h5 class='detaiL_title'>Name:</h5>
                                <p class='detaiL_text'>Ivan</p>
                            </div>
                            <div class='about-me_2_main_detaiL'>
                                <h5 class='detaiL_title'>Langs:</h5>
                                <p class='detaiL_text'>Ru,Eng,Por,Spa</p>
                            </div>
                            <div class='about-me_2_main_detaiL'>
                                <h5 class='detaiL_title'>Main stack:</h5>
                                <p class='detaiL_text'>Python,JS(TS)</p>
                            </div>
                            <div class='about-me_2_main_details_soc_icons _SOC'>
                                <a href='https://github.com/TribQq'>
                                    <img class='icon_pic' src="{% static 'media/about_me_main/icons/social/github-1.svg' %}"
                                        alt='github_icon'>
                                </a>
                                <a href='https://www.codewars.com/users/TribQq'>
                                    <img class='icon_pic' src="{% static 'media/about_me_main/icons/social/codewars-logo.svg' %}"
                                        alt='codewars_icon'>
                                </a>
                                <a href='https://t.me/Qq_user'>
                                    <img class='icon_pic' src="{% static 'media/about_me_main/icons/social/telegram_app.svg' %}"
                                        alt='telegram_icon'>
                                </a>
                                <a href="mailto:ivankartasov.trib@gmail.com">
                                    <img class='icon_pic' src="{% static 'media/about_me_main/icons/social/gmail.png' %}"
                                        alt='gmail_icon'>
                                </a>
                            </div>

                        </div>
                    </div>
            </section>
            <section class='section_about-me_3'>
                <div class="section_about-me_3_container _container">
                    <div class='section_about-me_left_side _side'>
                        <div class="section_about-me_3_text_block _about-me_not-lats_margin">
                            <div class='double_doggy_icon'>
                                <div class="section_about-me_3_circle _big_circle_icon">
                                    <img src="{% static 'media/about_me_main/icons/doggy-icon.jpg' %}" alt='doggy_icon_black'>
                                </div>
                                <div class="section_about-me_3_circle _big_circle_icon _hiden_icon">
                                    <img src="{% static 'media/about_me_main/icons/doggy-icon.jpg' %}" alt='doggy_icon_black'>
                                </div>
                            </div>
                            <h3 class='section_about-me_3_title _h4 _white'>About</h3>
                            <div class='section_about-me_3_text _just_p_text _white'>
                                <p >Other than that, I love YouTube, read manga, watch anime, play rpg, ride fast on a motorcycle and work hard.</p>
                                <p>I think "Done is better than perfect"</p>
                                <p>I think Bitcoin is cool.</p>
                                <p>In food, I prefer puree with a cutlet, apples and cola zero.</p>
                                <p>I put likes on cats and dogs (more often dogs), funny and especially stupid jokes. In general, I'm an ordinary "low-key" character 👋</p>
                            </div>
                            <p class='section_about-me_3_text text_link'><a href='#navigation_menu' class='link_word _white'>just_link
                                </a></p>
                            <div class="about-me_3_soc _SOC">
                                <a href='https://github.com/TribQq'>
                                    <img class='icon_pic _lower_icon'
                                        src="{% static 'media/about_me_main/icons/social/GitHub-Mark-Light-32px.png' %}" alt='github_icon'>
                                </a>
                                <a href='https://www.codewars.com/users/TribQq'>
                                    <img class='icon_pic _lower_icon'
                                        src="{% static 'media/about_me_main/icons/social/codewars-logo.svg' %}" alt='codewars_icon'>
                                </a>
                                <a href='https://t.me/Qq_user'>
                                    <img class='icon_pic _lower_icon'
                                        src="{% static 'media/about_me_main/icons/social/telegram_app.svg' %}" alt='telegram_icon'>
                                </a>
                                <a href="mailto:ivankartasov.trib@gmail.com">
                                    <img class='icon_pic _lower_icon'
                                        src="{% static 'media/about_me_main/icons/social/gmail.png' %}" alt='gmail_icon'>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class='section_about-me_right_side _side'>
                        <div class='section_about-me_right_side_img'>
                            <img src="{% static 'media/about_me_main/content/ez_clap_ez_huge_dog.jpg' %}">
                        </div>
                        <div class="section_about-me_3_circle_right _big_circle_icon">
                            <img src="{% static 'media/about_me_main/icons/doggy-icon.jpg' %}"  alt="doggy_icon_black">
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <a href='#navigation_menu' class='fixed_button'>
            <div class="robot_dancer">
            <img  class='fixed_button_img'src="{% static 'media/about_me_main/icons/Robot_1.gif' %}"  alt='fixed_button'>

        </div>
        </a>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="{% static 'js/about_me_main/slick.min.js' %}" ></script>
        <script src="{% static 'js/about_me_main/script.js' %}" ></script>

        {% endblock %}

        {% block footer %}
        <footer class="section_footer">
            <div class='footer_container _container'>
                <div class="footer_conetnt">

                    <p class='footer_text'>
                        i am footer
                    </p>
                </div>
            </div>
        </footer>
        {% endblock %}

    </div>

</body>

</html>