{% extends "layout/bookshelf_basic.html" %}
{% load static %}
{% block title %}  The book {% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/bookshelf.css' %}" />
{% endblock %}


{% block content %}

  <div class="ul_block">
    <ul class="align">
      <li>
        <figure class='book'>

          <!-- Front -->

          <ul class='hardcover_front'>
            <li>
              <div class="coverDesign cream">
                <h2>CSS</h2>
                <p>BOOK</p>
              </div>
            </li>
            <li></li>
          </ul>

          <!-- Pages -->

          <ul class='page'>
            <li></li>
            <li>
              <a class="btn" href="#">Download</a>
            </li>
            <li></li>
            <li></li>
            <li></li>
          </ul>

          <!-- Back -->

          <ul class='hardcover_back'>
            <li></li>
            <li></li>
          </ul>
          <ul class='book_spine'>
            <li></li>
            <li></li>
          </ul>
          <figcaption>
            <div class="book_description">
              <div class="indent">
                <h2>BookTitle</h2>
                <span>SubTitle </span>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit molestiae totam accusamus a odio itaque voluptatem velit pariatur iure maiores voluptatibus dolores exercitationem nisi incidunt, cupiditate officia provident neque minima.</p>
            </div>
          </div>
          </figcaption>
        </figure>
      </li>

      <li>
        <figure class='book'>

          <!-- Front -->

          <ul class='hardcover_front'>
            <li>
              <div class="coverDesign cream">
                <h2>CSS</h2>
                <p>BOOK</p>
              </div>
            </li>
            <li></li>
          </ul>

          <!-- Pages -->

          <ul class='page'>
            <li></li>
            <li>
              <a class="btn" href="#">Download</a>
            </li>
            <li></li>
            <li></li>
            <li></li>
          </ul>

          <!-- Back -->

          <ul class='hardcover_back'>
            <li></li>
            <li></li>
          </ul>
          <ul class='book_spine'>
            <li></li>
            <li></li>
          </ul>
          <figcaption>
            <div class="book_description">
              <div class="indent">
                <h2>BookTitle</h2>
                <span>SubTitle </span>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit molestiae totam accusamus a odio itaque voluptatem velit pariatur iure maiores voluptatibus dolores exercitationem nisi incidunt, cupiditate officia provident neque minima.</p>
            </div>
          </div>
          </figcaption>
        </figure>
      </li>
      

    </ul>
  </div>
{% endblock %}


