{% extends 'layout/basic.html' %}
{% load bootstrap4 %}
{% block title %} Смена пароля {% endblock %}
{% block content %}
<h2>Сменя пароля пользователя {{ user.username }}</h2>
{% if validlink %}
<p>Введите новый пароль: </p>
<form method='post'>
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    {% buttons submit='Сменить пароль' %}{% endbuttons %}
</form>
{% else %}
<p>Ваша ссылка на смену пароля уже не действительна,скорей всего она устрарела</p>
{% endif %}
{% endblock %}