{% load thumbnail %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p> url 'book' book.id </p>
<h3>its bookshelf</h3>
<a href=" "> its link </a>

{% for book in books %}
    <p><a href="{% url 'book_titlePage' book.id %}" > {{ book.title }} , {{ book.id }} </a></p>
    <img src="{% thumbnail book.cover_img 'default' %}">
    <p> продолжить приключение </p>
    <a href ="{% url 'book_page' book.bookprogress_set.first.book.id  book.bookprogress_set.first.book_page.id %}">{{ book.bookprogress_set.first.book_page.id }} == link_on_progress_page</a>
    <p>-------------------------------------</p>
{% endfor %}
<p>======================= go to=================================</p>
{% for book in books %}
    <p><a href="{% url 'book_main' book.id %}">{{ book.title }} </a> </p>
{% endfor %}
</body>
</html>