{% extends "layout/scroll_basic.html" %}
{% load static %}
{% load thumbnail %}

{% block title %}  The book {% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/bookshelf/bookshelf.css' %}" />
{% endblock %}


{% block scroll_text %}
<h3 class="scroll_subtitle">Nullam nisl ante</h3>
<p class="scroll_text"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed quam.  Nullam gravida aliquet odio. Phasellus ullamcorper tincidunt orci.  Praesent vel purus. Sed porttitor. Proin porttitor suscipit urna. Morbi  rhoncus posuere orci. In pulvinar condimentum ligula. Aenean imperdiet  pulvinar urna. Morbi dapibus pede vel velit. Duis a nisl. Proin  consequat. Proin lacus purus, auctor ac, semper in, posuere non, leo.  Nullam nisl ante, pulvinar vel, aliquam ut, pulvinar sit amet, turpis.  Aliquam suscipit dui eu turpis. Nullam tellus. Duis at erat id sem  vestibulum egestas. Aliquam varius nisl vel lectus. Aliquam at purus  ullamcorper massa lobortis placerat. Aliquam eget mauris sodales lectus  vestibulum vulputate. </p>
<h3 class="scroll_subtitle">Sed mollis</h3>
<p class="scroll_text">Morbi lorem. Vivamus leo diam, bibendum a, interdum quis, volutpat  at, elit. Integer sit amet est at purus rhoncus facilisis. Cum sociis  natoque penatibus et magnis dis parturient montes, nascetur ridiculus  mus. Aenean eu enim vitae ante ullamcorper faucibus. Etiam elementum  lobortis odio. Donec lacus purus, interdum sit amet, convallis quis,  porta sit amet, elit. Donec ac odio quis ipsum convallis ultrices. Nam  hendrerit tincidunt est. Sed ipsum. Proin rutrum ante eget mi. Morbi id  ante. Integer et risus in nisl iaculis ornare. Sed mollis. Cras nisi  elit, rutrum eget, sagittis ac, semper non, sapien. Lorem ipsum dolor  sit amet, consectetuer adipiscing elit. </p>
<h3 class="scroll_subtitle">Aliquam ut  mauris</h3>
<p class="scroll_text">Phasellus mollis. Pellentesque nibh metus, hendrerit ac, porttitor  a, pulvinar vel, turpis. Aliquam mattis auctor lectus. Proin eleifend  varius neque. Maecenas nulla. Pellentesque habitant morbi tristique  senectus et netus et malesuada fames ac turpis egestas. Morbi tellus.  Sed libero enim, tempus faucibus, egestas eu, sodales non, tortor.  Aenean eget nibh dictum dui sollicitudin consectetuer. Aliquam ut  mauris non quam facilisis faucibus. Morbi eu est. Vestibulum enim  lorem, tempus ornare, sodales nec, imperdiet ac, augue. Vestibulum nunc  felis, placerat eu, euismod at, pellentesque ut, lacus. Aliquam tempor  consequat enim. Sed ut dolor. Sed vestibulum metus vitae justo. Nulla  libero. Integer sit amet diam ut orci rutrum euismod. Praesent suscipit  augue in justo. Vestibulum diam. </p>
<h3 class="scroll_subtitle">Aenean purus pede</h3>
<p class="scroll_text">Vivamus diam orci, bibendum eu, venenatis a, gravida et, nisl. Donec  felis tortor, rhoncus eu, convallis ac, mattis id, est. Donec commodo,  dui vel eleifend varius, lacus nunc suscipit risus, eget bibendum nunc  velit lobortis sapien. Nam sodales volutpat nibh. Cras et justo.  Praesent pede. In sed eros cursus arcu tristique congue. Nulla iaculis  ante sit amet sapien auctor tincidunt. Aliquam sit amet libero. Aliquam  mauris tellus, gravida nec, nonummy vel, tincidunt hendrerit, mi. Etiam  cursus mi et turpis. Phasellus et mi in dolor feugiat feugiat.  Vestibulum ante ipsum primis in faucibus orci luctus et ultrices  posuere cubilia Curae; Fusce commodo. </p>
<h3 class="scroll_subtitle">Vivamus diam orci</h3>
<p class="scroll_text">Aenean purus pede, tempor ut, iaculis ac, tincidunt interdum, urna.  Pellentesque quis mauris. Morbi porttitor blandit nisl. Suspendisse  potenti. Cras sem. Maecenas sit amet eros a augue fringilla posuere. Ut  bibendum ultricies lorem. Donec interdum. In interdum ullamcorper nisl.  Mauris tortor pede, accumsan a, tempus et, fermentum et, lectus. In  congue ligula ut odio. Sed adipiscing pharetra quam. </p>
{% endblock %}


{% block right_block %}
  <div class="bookshelf_block">
    <ul class="books_list">
      <li class="book_block">
        <figure class='book'>

          <!-- Front -->

          <ul class='hardcover_front'>
            <li>
              <div class="coverDesign cream">
                <h2>CSS</h2>
                <p>BOOK</p>
              </div>
            </li>
            <li></li>
          </ul>

          <!-- Pages -->

          <ul class='page'>
            <li></li>
            <li>
              <a class="btn" href="#">Download</a>
            </li>
            <li></li>
            <li></li>
            <li></li>
          </ul>

          <!-- Back -->

          <ul class='hardcover_back'>
            <li></li>
            <li></li>
          </ul>
          <ul class='book_spine'>
            <li></li>
            <li></li>
          </ul>
          <figcaption>
            <div class="book_description">
              <div class="indent">
                <h2>BookTitle</h2>
                <span>SubTitle </span>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit molestiae totam accusamus a odio itaque voluptatem velit pariatur iure maiores voluptatibus dolores exercitationem nisi incidunt, cupiditate officia provident neque minima.</p>
            </div>
          </div>
          </figcaption>
        </figure>
      </li>
      {% for book in books %}
      <li>
        <figure class='book'>
          <ul class='hardcover_front'>
            <li>
              <div class="coverDesign cream">
                {% if book.cover_img %}
                <div class="book_cover">
                <img class="cover_img" src="{% thumbnail book.cover_img 'book' %}">
                <div class="book_titles">
                  <h2>{{book.title}}</h2>
                  <p>{{book.subtitle}}</p>
                </div>
              </div>
                {% else %}
                <div class="book_titles">
                <h2>{{book.title}}</h2>
                <p>{{book.subtitle}}</p>
              </div>
                {% endif %}
              </div>
            </li>
            <li></li>
          </ul>
          <ul class='page'>
            <li></li>
            <li>
              <a class="btn" href="{% url 'bookshelf:view_read_book' book.id %}">Download</a>
            </li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
          <ul class='hardcover_back'>
            <li></li>
            <li></li>
          </ul>
          <ul class='book_spine'>
            <li></li>
            <li></li>
          </ul>
          <figcaption>
            <div class="book_description">
              <div class="indent">
                <h2>{{book.desc_title}}</h2>
                <span>{{book.desc_subtitle}} </span>
                <p>{{book.desc_text}}</p>
                <a class="book_link" href="{% url 'bookshelf:view_saves' book.id %}"><h2>[watch book saves]</h2></a>
            </div>
          </div>
          </figcaption>
        </figure>
      </li>
      {% endfor %}
      

    </ul>
  </div>
{% endblock %}


