{% extends "portfolio/alapantan/layout/basic.html" %}
{% load static %}
{% block title %} card {% endblock %}

{% block content %} 


	<!-- start card -->
	<section class="card">
		<div class="wrapper">
			<ul class="bread-crumbs">
				<li><a href="#">Главная</a></li>
				<li><a href="#">Каталог</a></li>
				<li><a href="#">Здоровье</a></li>
				<li><a href="#">Бальзамы и Растительные комплексы</a></li>
				<li>Для очищения организма</li>
			</ul>
			<div class="card-row">
				<div class="card-view">
					<div class="card-slider">
						<div class="card-slide">
							<img src="{% static 'portfolio/alapantan/img/card-1.png' %}" alt="">
						</div>
						<div class="card-slide">
							<img src="{% static 'portfolio/alapantan/img/card-1.png' %}" alt="">
						</div>
						<div class="card-slide">
							<img src="{% static 'portfolio/alapantan/img/card-1.png' %}"alt="">
						</div>
						<div class="card-slide">
							<img src="{% static 'portfolio/alapantan/img/card-1.png' %}" alt="">
						</div>
					</div>
					<div class="card-slider__nav">
						<div class="card-slider__nav-slide">
							<div class="card-slider__nav-wrap">
								<img src="{% static 'portfolio/alapantan/img/card-2.png' %}" alt="">
							</div>
						</div>
						<div class="card-slider__nav-slide">
							<div class="card-slider__nav-wrap">
								<img src="{% static 'portfolio/alapantan/img/card-2.png' %}" alt="">
							</div>
						</div>
						<div class="card-slider__nav-slide">
							<div class="card-slider__nav-wrap">
								<img src="{% static 'portfolio/alapantan/img/card-2.png' %}" alt="">
							</div>
						</div>
						<div class="card-slider__nav-slide">
							<div class="card-slider__nav-wrap">
								<img src="{% static 'portfolio/alapantan/img/card-2.png' %}" alt="">
							</div>
						</div>
					</div>
				</div>
				<div class="card-content">
					<div class="card-top">
						<h1 class="card-title">Панты Марала консервированные слайсы , 40 г</h1>
						<div class="card-top__row">
							<div class="card-top__list">
								<img src="{% static 'portfolio/alapantan/img/stars-row.png' %}" alt="">
								<a href="#" class="card-top__link">50 отзывов</a>
								<ul>
									<li><a href="#"><span class="ico-like"></span><b>В избранное</b></a></li>
									<li class="share-lk">
										<a href="#" class="share-lk-link"><span class="ico-share"></span><b>Поделиться</b></a>
										<ul class="share-drop">
											<li><a href="#"><span class="ico-hb vk-ico"></span>Вконтакте</a></li>
											<li><a href="#"><span class="ico-hb ok-ico"></span>Одноклассники</a></li>
											<li><a href="#"><span class="ico-hb fb-ico"></span>Facebook</a></li>
											<li><a href="#"><span class="ico-hb tw-ico"></span>Twitter</a></li>
											<li><a href="#"><span class="ico-hb lk-ico"></span>Копировать ссылку</a></li>
										</ul>
									</li>
								</ul>
							</div>
							<p>Артикул: <b>00420</b></p>
						</div>
					</div>
					<div class="card-content__row">
						<div class="card-info">
							<ul class="card-info__list">
								<li><b>Вес:</b><span>40 г</span></li>
								<li><b>Объем:</b><span>м³</span></li>
								<li><b>Область применения:</b><span>внутрь</span></li>
								<li><b>Бренд:</b><span><a href="#">Алапантан</a></span></li>
							</ul>
							<div class="card-info__text">
								<h3 class="card-info__title">Краткое описание</h3>
								<p>Применяется для повышения половой функции, для повышения артериального давления, при малокровии, переутомлении, ослаблении тонуса организма, после инфекцилнных заболеваний, при недостаточной деятельности сердца и сосудистого аппарата, для заживления ран. Применяется для повышения половой функции для.</p>
								<div class="card-info__text-link">
									<a href="#">Перейти к описанию</a>
								</div>
							</div>
							<div class="card-info__delivery">
								<h3 class="card-info__delivery-title">Доставка: <span>в г.Москва</span><a href="#">изменить</a></h3>
								<div class="card-info__delivery-wrap">
									<div class="card-info__delivery-row">
										<div class="card-info__delivery-ico">
											<img src="{% static 'portfolio/alapantan/img/card-ico-1.svg' %}" alt="">
										</div>
										<p>Самовывоз из <a href="#">магазина</a>, <b>бесплатно</b> сегодня</p>
									</div>
									<div class="card-info__delivery-row">
										<div class="card-info__delivery-ico">
											<img src="{% static 'portfolio/alapantan/img/card-ico-2.svg' %}" alt="">
										</div>
										<p>Самовывоз из <a href="#">пункта выдачи</a>, от <b>100 р</b><br>завтра, 28 сентября</p>
									</div>
									<div class="card-info__delivery-row">
										<div class="card-info__delivery-ico">
											<img src="{% static 'portfolio/alapantan/img/card-ico-3.png' %}" alt="">
										</div>
										<p>Доставка почтой России, <b>250 р</b><br>30 сентября - 2 октября</p>
									</div>
									<div class="card-info__delivery-row">
										<div class="card-info__delivery-ico">
											<img src="{% static 'portfolio/alapantan/img/card-ico-4.svg' %}" alt="">
										</div>
										<p>Доставка <a href="#">курьером</a>, от <b>350 р</b><br>30 сентября - 2 октября</p>
									</div>
								</div>
							</div>
						</div>
						<div class="card-sidebar">
							<div class="card-sidebar__top">
								<p><span class="ico-smile"></span>Купили более 10 000 раз</p>
							</div>
							<div class="card-sidebar__block">
								<p class="card-sidebar__check"><span class="ico-check"></span>В наличии</p>
								<p class="card-sidebar__no"><span class="ico-close"></span>Нет в наличии</p>
								<div class="card-sidebar__quantity">
									<p>Количество</p>
									<div class="basket-col__input">
										<span class="basket-col__input-minus">-</span>
										<input type="text" name="text" value="1">
										<span class="basket-col__input-add">+</span>
									</div>
								</div>
								<div class="card-sidebar__info">
									<div class="card-sidebar__row">
										<div>
											<p class="color-red">Скидка 15%</p>
											<p>экономия 150 р</p>
										</div>
										<p class="text-cross">990 р</p>
									</div>
									<div class="card-sidebar__row card-sidebar__row-dot">
										<p>Цена:</p>
										<span>840 р</span>
									</div>
									<div class="card-sidebar__row">
										<p>Баллы:</p>
										<b>+ 50</b>
									</div>
								</div>
								<div class="card-sidebar__bottom">
									<p>Закажите на 3 000 р и получите <b>бесплатную доставку!</b></p>
									<a href="#" class="card-sidebar__btn"><span class="ico-cart"></span>Добавить в корзину</a>
									<div class="card-sidebar__link">
										<a href="#"><span class="ico-hb ico-sc"></span>Купить в 1 клик</a>
									</div>
								</div>
							</div>
							<a href="#" class="card-sidebar__discount">
								<img src="{% static 'portfolio/alapantan/img/discount.png' %}" alt="">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</section>
	<!-- end card -->
	<!-- start recommended -->
	<section class="recommended recommended-big">
		<div class="wrapper">
			<h3 class="recommended-title">С этим товаром покупают</h3>
			<div class="recommended-slider">
				<div class="recommended-slide">
					<div class="products-col">
						<div class="products-col__block">
							<a href="#" class="products-col__tag">хит</a>
							<div class="products-col__row">
								<div class="products-col__img">
									<img id="12" src="{% static 'portfolio/alapantan/img/product-big.jpg' %}" alt="">
								</div>
								<div class="products-col__info">
									<div class="products-col__saving">
										<b>-15%</b>
										<span>Экономия 56 р</span>
									</div>
									<h3 class="products-col__name"><a href="#">Масло конопляное с добавлением льняного Алтэя 100 мл</a></h3>
									<div class="products-col__stars">
										<img src="{% static 'portfolio/alapantan/img/stars-row.png' %}" alt="">
									</div>
								</div>
							</div>
							<div class="products-col__wrap">
								<p class="products-col__price">319 р<span>375 р</span></p>
								<div class="products-col__points">+10<span>баллов</span></div>
							</div>
							<div class="products-col__bottom">
								<a href="#" class="products-col__btn">Купить</a>
								<a href="#" class="products-col__like"></a>
							</div>
						</div>
					</div>
				</div><!-- slide(1) -->
				<div class="recommended-slide">
					<div class="products-col">
						<div class="products-col__block">
							<a href="#" class="products-col__tag">хит</a>
							<div class="products-col__row">
								<div class="products-col__img">
									<img id="12" src="{% static 'portfolio/alapantan/img/product-big.jpg' %}" alt="">
								</div>
								<div class="products-col__info">
									<div class="products-col__saving">
										<b>-15%</b>
										<span>Экономия 56 р</span>
									</div>
									<h3 class="products-col__name"><a href="#">Масло конопляное с добавлением льняного Алтэя 100 мл</a></h3>
									<div class="products-col__stars">
										<img src="{% static 'portfolio/alapantan/img/stars-row.png' %}" alt="">
									</div>
								</div>
							</div>
							<div class="products-col__wrap">
								<p class="products-col__price">319 р<span>375 р</span></p>
								<div class="products-col__points">+10<span>баллов</span></div>
							</div>
							<div class="products-col__bottom">
								<a href="#" class="products-col__btn">Купить</a>
								<a href="#" class="products-col__like"></a>
							</div>
						</div>
					</div>
				</div><!-- slide(2) -->
				<div class="recommended-slide">
					<div class="products-col">
						<div class="products-col__block">
							<a href="#" class="products-col__tag">хит</a>
							<div class="products-col__row">
								<div class="products-col__img">
									<img id="12" src="{% static 'portfolio/alapantan/img/product-big.jpg' %}" alt="">
								</div>
								<div class="products-col__info">
									<div class="products-col__saving">
										<b>-15%</b>
										<span>Экономия 56 р</span>
									</div>
									<h3 class="products-col__name"><a href="#">Масло конопляное с добавлением льняного Алтэя 100 мл</a></h3>
									<div class="products-col__stars">
										<img src="{% static 'portfolio/alapantan/img/stars-row.png' %}" alt="">
									</div>
								</div>
							</div>
							<div class="products-col__wrap">
								<p class="products-col__price">319 р<span>375 р</span></p>
								<div class="products-col__points">+10<span>баллов</span></div>
							</div>
							<div class="products-col__bottom">
								<a href="#" class="products-col__btn">Купить</a>
								<a href="#" class="products-col__like"></a>
							</div>
						</div>
					</div>
				</div><!-- slide(3) -->
				<div class="recommended-slide">
					<div class="products-col">
						<div class="products-col__block">
							<a href="#" class="products-col__tag">хит</a>
							<div class="products-col__row">
								<div class="products-col__img">
									<img id="12" src="{% static 'portfolio/alapantan/img/product-big.jpg' %}" alt="">
								</div>
								<div class="products-col__info">
									<div class="products-col__saving">
										<b>-15%</b>
										<span>Экономия 56 р</span>
									</div>
									<h3 class="products-col__name"><a href="#">Масло конопляное с добавлением льняного Алтэя 100 мл</a></h3>
									<div class="products-col__stars">
										<img src="{% static 'portfolio/alapantan/img/stars-row.png' %}" alt="">
									</div>
								</div>
							</div>
							<div class="products-col__wrap">
								<p class="products-col__price">319 р<span>375 р</span></p>
								<div class="products-col__points">+10<span>баллов</span></div>
							</div>
							<div class="products-col__bottom">
								<a href="#" class="products-col__btn">Купить</a>
								<a href="#" class="products-col__like"></a>
							</div>
						</div>
					</div>
				</div><!-- slide(4) -->
				<div class="recommended-slide">
					<div class="products-col">
						<div class="products-col__block">
							<a href="#" class="products-col__tag">хит</a>
							<div class="products-col__row">
								<div class="products-col__img">
									<img id="12" src="{% static 'portfolio/alapantan/img/product-big.jpg' %}" alt="">
								</div>
								<div class="products-col__info">
									<div class="products-col__saving">
										<b>-15%</b>
										<span>Экономия 56 р</span>
									</div>
									<h3 class="products-col__name"><a href="#">Масло конопляное с добавлением льняного Алтэя 100 мл</a></h3>
									<div class="products-col__stars">
										<img src="{% static 'portfolio/alapantan/img/stars-row.png' %}" alt="">
									</div>
								</div>
							</div>
							<div class="products-col__wrap">
								<p class="products-col__price">319 р<span>375 р</span></p>
								<div class="products-col__points">+10<span>баллов</span></div>
							</div>
							<div class="products-col__bottom">
								<a href="#" class="products-col__btn">Купить</a>
								<a href="#" class="products-col__like"></a>
							</div>
						</div>
					</div>
				</div><!-- slide(5) -->
				<div class="recommended-slide">
					<div class="products-col">
						<div class="products-col__block">
							<a href="#" class="products-col__tag">хит</a>
							<div class="products-col__row">
								<div class="products-col__img">
									<img id="12" src="{% static 'portfolio/alapantan/img/product-big.jpg' %}" alt="">
								</div>
								<div class="products-col__info">
									<div class="products-col__saving">
										<b>-15%</b>
										<span>Экономия 56 р</span>
									</div>
									<h3 class="products-col__name"><a href="#">Масло конопляное с добавлением льняного Алтэя 100 мл</a></h3>
									<div class="products-col__stars">
										<img src="{% static 'portfolio/alapantan/img/stars-row.png' %}" alt="">
									</div>
								</div>
							</div>
							<div class="products-col__wrap">
								<p class="products-col__price">319 р<span>375 р</span></p>
								<div class="products-col__points">+10<span>баллов</span></div>
							</div>
							<div class="products-col__bottom">
								<a href="#" class="products-col__btn">Купить</a>
								<a href="#" class="products-col__like"></a>
							</div>
						</div>
					</div>
				</div><!-- slide(6) -->
			</div>
		</div>
	</section>
	<!-- end recommended -->
	<!-- start description -->
	<section class="description">
		<div class="wrapper">
			<div class="description-list">
				<ul class="tab-list">
					<li><a class="active" href="#tab-1">Описание</a></li>
					<li><a href="#tab-2">Отзывы</a></li>
					<li><a href="#tab-3">Сертификат</a></li>
					<li><a href="#tab-4">Вопрос/Ответ</a></li>
				</ul>
			</div>
			<h3 class="description-subtitle">Описание</h3>
			<div class="description-tab tab tab-active" id="tab-1">
				<div class="description-tab__wrap">
					<p>Применяется для повышения половой функции, для повышения артериального давления, при малокровии, переутомлении, ослаблении тонуса организма, после инфекционных заболеваний, при недостаточной деятельности сердца и сосудистого аппарата, для заживления ран.</p>
					<div class="description-accordeon accordeon">
						<div class="description-top">
							<h3 class="description-top__title">Состав</h3>
						</div>
						<div class="description-block accordeon-block">
							<div class="description-block__wrap">
								<p>На 1 литр воды 28 грамм пищевой добавки. Измельчить, залить кипятком, настаивать 12 часов, процедить. Принимать по столовой ложке три раза в день за 30 минут до еды.</p>
							</div>
						</div>
					</div>
					<div class="description-accordeon accordeon">
						<div class="description-top">
							<h3 class="description-top__title">Способ применения</h3>
						</div>
						<div class="description-block accordeon-block">
							<div class="description-block__wrap">
								<p>На 1 литр воды 28 грамм пищевой добавки. Измельчить, залить кипятком, настаивать 12 часов, процедить. Принимать по столовой ложке три раза в день за 30 минут до еды.</p>
							</div>
						</div>
					</div>
					<div class="description-accordeon accordeon">
						<div class="description-top">
							<h3 class="description-top__title">Рекомендации</h3>
						</div>
						<div class="description-block accordeon-block">
							<div class="description-block__wrap">
								<p>На 1 литр воды 28 грамм пищевой добавки. Измельчить, залить кипятком, настаивать 12 часов, процедить. Принимать по столовой ложке три раза в день за 30 минут до еды.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<h3 class="description-subtitle">Отзывы</h3>
			<div class="description-tab description-tab__testimonials tab" id="tab-2">
				<div class="description-tab__wrap">
					<div class="description-tab__row">
						<div class="description-content">
							<div class="description-drops">
								<div class="drop">
									<p>Сортировать по: <span class="drop-text">дате</span></p>
									<ul class="drop-list">
										<li><a href="#">дате</a></li>
										<li><a href="#">полезности</a></li>
									</ul>
								</div>
								<div class="drop">
									<p>Оценка: <span class="drop-text">любая</span></p>
									<ul class="drop-list">
										<li><a href="#">любая</a></li>
										<li><a href="#"><b>5</b><span class="ico-star"></span></a></li>
										<li><a href="#"><b>4</b><span class="ico-star"></span></a></li>
										<li><a href="#"><b>3</b><span class="ico-star"></span></a></li>
										<li><a href="#"><b>2</b><span class="ico-star"></span></a></li>
										<li><a href="#"><b>1</b><span class="ico-star"></span></a></li>
									</ul>
								</div>
							</div>
							<div class="testimonials">
								<div class="testimonials-col">
									<div class="testimonials-img">
										<img src="{% static 'portfolio/alapantan/img/avatar.png' %}" alt="">
									</div>
									<div class="testimonials-info">
										<div class="share">
											<div class="share-text"><b>Поделиться</b><span class="ico-hb ico-share"></span></div>
											<ul>
												<li><a href="#" class="ico-hb vk-ico"></a></li>
												<li><a href="#" class="ico-hb ok-ico"></a></li>
												<li><a href="#" class="ico-hb fb-ico"></a></li>
												<li><a href="#" class="ico-hb tw-ico"></a></li>
												<li><a href="#" class="ico-hb lk-ico"></a></li>
											</ul>
										</div>
										<div class="testimonials-info__top">
											<div class="testimonials-info__top-row">
												<h3 class="testimonials-info__name">Елена</h3>
												<p class="testimonials-info__date"><span class="ico-time"></span>29 июля 2019</p>
											</div>
											<div class="testimonials-info__stars">
														<img src="{% static 'portfolio/alapantan/img/stars-row.png' %}" alt="">
											</div>
										</div>
										<div class="testimonials-info__text">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
										</div>
										<div class="testimonials-bottom">
											<a href="#" class="testimonials-comment"><span class="ico-arrow"></span>Комментировать</a>
											<div class="testimonials-bottom__row">
												<a href="#" class="testimonials-bottom__link">Отзыв полезен?</a>
												<a href="#" class="testimonials-bottom__btn"><span class="ico-like"></span>15</a>
												<a href="#" class="testimonials-bottom__btn"><span class="ico-dislike"></span>0</a>
											</div>
											<a href="#" class="testimonials-comm"><span>0</span> комментарий</a>
										</div>
									</div>
								</div>
								<div class="testimonials-col">
									<div class="testimonials-img">
										<img src="{% static 'portfolio/alapantan/img/avatar.png' %}" alt="">
									</div>
									<div class="testimonials-info">
										<a href="#" class="ico-share"></a>
										<div class="testimonials-info__top">
											<div class="testimonials-info__top-row">
												<h3 class="testimonials-info__name">Елена</h3>
												<p class="testimonials-info__date"><span class="ico-time"></span>29 июля 2019</p>
											</div>
											<div class="testimonials-info__stars">
														<img src="{% static 'portfolio/alapantan/img/stars-row.png' %}" alt="">
											</div>
										</div>
										<div class="testimonials-info__text">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
										</div>
										<div class="testimonials-bottom">
											<a href="#" class="testimonials-comment"><span class="ico-arrow"></span>Комментировать</a>
											<div class="testimonials-bottom__row">
												<a href="#" class="testimonials-bottom__link">Отзыв полезен?</a>
												<a href="#" class="testimonials-bottom__btn"><span class="ico-like"></span>15</a>
												<a href="#" class="testimonials-bottom__btn"><span class="ico-dislike"></span>0</a>
											</div>
											<a href="#" class="testimonials-comm"><span>0</span> комментарий</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="description-sidebar">
							<a href="#" class="second-btn description-sidebar__btn"><span class="ico-comment"></span>Написать отзыв</a>
							<div class="description-sidebar__block">
								<div class="description-sidebar__top">
									<div class="description-sidebar__top-row">
										<div class="description-sidebar__top-star">
											<img src="{% static 'portfolio/alapantan/img/star-2.png' %}" alt="">
										</div>
										<div class="description-sidebar__top-text">
											<p>4.7<span>/ 5</span></p>
										</div>
									</div>
									<p>Рейтинг:   662 отзыва</p>
								</div>
								<div class="description-sidebar__block-row">
									<span>5 звезд</span>
									<div class="description-sidebar__bar">
										<div style="width: 90%;"></div>
									</div>
									<b>400</b>
								</div>
								<div class="description-sidebar__block-row">
									<span>4 звезды</span>
									<div class="description-sidebar__bar">
										<div style="width: 46%;"></div>
									</div>
									<b>250</b>
								</div>
								<div class="description-sidebar__block-row">
									<span>3 звезды</span>
									<div class="description-sidebar__bar">
										<div style="width: 12%;"></div>
									</div>
									<b>10</b>
								</div>
								<div class="description-sidebar__block-row">
									<span>2 звезды</span>
									<div class="description-sidebar__bar">
										<div style="width: 5%;"></div>
									</div>
									<b>2</b>
								</div>
								<div class="description-sidebar__block-row">
									<span>1 звезда</span>
									<div class="description-sidebar__bar">
										<div style="width: 0%;"></div>
									</div>
									<b>0</b>
								</div>
							</div>
						</div>
					</div>
					<div class="catalog-control">
						<a href="#" class="second-btn"><img src="{% static 'portfolio/alapantan/img/update.png' %}" alt=""><span>Показать еще</span></a>
						<div class="pagination">
							<ul>
								<li><a class="active" href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
							</ul>
							<a href="#" class="pagination-ico pagination-next"></a>
						</div>
					</div>
				</div>
			</div>
			<h3 class="description-subtitle">Сертификаты</h3>
			<div class="description-tab tab" id="tab-3">
			</div>
			<h3 class="description-subtitle">Вопрос/Ответ</h3>
			<div class="description-tab tab" id="tab-4">
				<div class="description-tab__wrap">
					<h3 class="description-title">Часто задаваемые вопросы:</h3>
					<div class="description-accordeon accordeon">
						<div class="description-top">
							<h3 class="description-top__title">Доставляете ли Почтой России?</h3>
						</div>
						<div class="description-block accordeon-block">
							<div class="description-block__wrap">
								<p>На 1 литр воды 28 грамм пищевой добавки. Измельчить, залить кипятком, настаивать 12 часов, процедить. Принимать по столовой ложке три раза в день за 30 минут до еды.</p>
							</div>
						</div>
					</div>
					<div class="description-accordeon accordeon">
						<div class="description-top">
							<h3 class="description-top__title">Доставляете ли Почтой России?</h3>
						</div>
						<div class="description-block accordeon-block">
							<div class="description-block__wrap">
								<p>На 1 литр воды 28 грамм пищевой добавки. Измельчить, залить кипятком, настаивать 12 часов, процедить. Принимать по столовой ложке три раза в день за 30 минут до еды.</p>
							</div>
						</div>
					</div>
					<div class="description-accordeon accordeon">
						<div class="description-top">
							<h3 class="description-top__title">Доставляете ли Почтой России?</h3>
						</div>
						<div class="description-block accordeon-block">
							<div class="description-block__wrap">
								<p>На 1 литр воды 28 грамм пищевой добавки. Измельчить, залить кипятком, настаивать 12 часов, процедить. Принимать по столовой ложке три раза в день за 30 минут до еды.</p>
							</div>
						</div>
					</div>
					<div class="description-accordeon accordeon">
						<div class="description-top">
							<h3 class="description-top__title">Доставляете ли Почтой России?</h3>
						</div>
						<div class="description-block accordeon-block">
							<div class="description-block__wrap">
								<p>На 1 литр воды 28 грамм пищевой добавки. Измельчить, залить кипятком, настаивать 12 часов, процедить. Принимать по столовой ложке три раза в день за 30 минут до еды.</p>
							</div>
						</div>
					</div>
					<div class="catalog-control">
						<a href="#" class="second-btn"><img src="{% static 'portfolio/alapantan/img/update.png' %}" alt=""><span>Показать еще</span></a>
						<div class="pagination">
							<ul>
								<li><a class="active" href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
							</ul>
							<a href="#" class="pagination-ico pagination-next"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end description -->
	<!-- start recommended -->
	<section class="recommended recommended-big recommended-last">
		<div class="wrapper">
			<h3 class="recommended-title">Вы недавно смотрели</h3>
			<div class="recommended-slider">
				<div class="recommended-slide">
					<div class="products-col">
						<div class="products-col__block">
							<a href="#" class="products-col__tag">хит</a>
							<div class="products-col__row">
								<div class="products-col__img">
									<img id="12" src="{% static 'portfolio/alapantan/img/product-big.jpg' %}" alt="">
								</div>
								<div class="products-col__info">
									<div class="products-col__saving">
										<b>-15%</b>
										<span>Экономия 56 р</span>
									</div>
									<h3 class="products-col__name"><a href="#">Масло конопляное с добавлением льняного Алтэя 100 мл</a></h3>
									<div class="products-col__stars">
										<img src="{% static 'portfolio/alapantan/img/stars-row.png' %}" alt="">
									</div>
								</div>
							</div>
							<div class="products-col__wrap">
								<p class="products-col__price">319 р<span>375 р</span></p>
								<div class="products-col__points">+10<span>баллов</span></div>
							</div>
							<div class="products-col__bottom">
								<a href="#" class="products-col__btn">Купить</a>
								<a href="#" class="products-col__like"></a>
							</div>
						</div>
					</div>
				</div><!-- slide(1) -->
				<div class="recommended-slide">
					<div class="products-col">
						<div class="products-col__block">
							<a href="#" class="products-col__tag">хит</a>
							<div class="products-col__row">
								<div class="products-col__img">
									<img id="12" src="{% static 'portfolio/alapantan/img/product-big.jpg' %}" alt="">
								</div>
								<div class="products-col__info">
									<div class="products-col__saving">
										<b>-15%</b>
										<span>Экономия 56 р</span>
									</div>
									<h3 class="products-col__name"><a href="#">Масло конопляное с добавлением льняного Алтэя 100 мл</a></h3>
									<div class="products-col__stars">
										<img src="{% static 'portfolio/alapantan/img/stars-row.png' %}" alt="">
									</div>
								</div>
							</div>
							<div class="products-col__wrap">
								<p class="products-col__price">319 р<span>375 р</span></p>
								<div class="products-col__points">+10<span>баллов</span></div>
							</div>
							<div class="products-col__bottom">
								<a href="#" class="products-col__btn">Купить</a>
								<a href="#" class="products-col__like"></a>
							</div>
						</div>
					</div>
				</div><!-- slide(2) -->
				<div class="recommended-slide">
					<div class="products-col">
						<div class="products-col__block">
							<a href="#" class="products-col__tag">хит</a>
							<div class="products-col__row">
								<div class="products-col__img">
									<img id="12" src="{% static 'portfolio/alapantan/img/product-big.jpg' %}" alt="">
								</div>
								<div class="products-col__info">
									<div class="products-col__saving">
										<b>-15%</b>
										<span>Экономия 56 р</span>
									</div>
									<h3 class="products-col__name"><a href="#">Масло конопляное с добавлением льняного Алтэя 100 мл</a></h3>
									<div class="products-col__stars">
										<img src="{% static 'portfolio/alapantan/img/stars-row.png' %}" alt="">
									</div>
								</div>
							</div>
							<div class="products-col__wrap">
								<p class="products-col__price">319 р<span>375 р</span></p>
								<div class="products-col__points">+10<span>баллов</span></div>
							</div>
							<div class="products-col__bottom">
								<a href="#" class="products-col__btn">Купить</a>
								<a href="#" class="products-col__like"></a>
							</div>
						</div>
					</div>
				</div><!-- slide(3) -->
				<div class="recommended-slide">
					<div class="products-col">
						<div class="products-col__block">
							<a href="#" class="products-col__tag">хит</a>
							<div class="products-col__row">
								<div class="products-col__img">
									<img id="12" src="{% static 'portfolio/alapantan/img/product-big.jpg' %}" alt="">
								</div>
								<div class="products-col__info">
									<div class="products-col__saving">
										<b>-15%</b>
										<span>Экономия 56 р</span>
									</div>
									<h3 class="products-col__name"><a href="#">Масло конопляное с добавлением льняного Алтэя 100 мл</a></h3>
									<div class="products-col__stars">
										<img src="{% static 'portfolio/alapantan/img/stars-row.png' %}" alt="">
									</div>
								</div>
							</div>
							<div class="products-col__wrap">
								<p class="products-col__price">319 р<span>375 р</span></p>
								<div class="products-col__points">+10<span>баллов</span></div>
							</div>
							<div class="products-col__bottom">
								<a href="#" class="products-col__btn">Купить</a>
								<a href="#" class="products-col__like"></a>
							</div>
						</div>
					</div>
				</div><!-- slide(4) -->
				<div class="recommended-slide">
					<div class="products-col">
						<div class="products-col__block">
							<a href="#" class="products-col__tag">хит</a>
							<div class="products-col__row">
								<div class="products-col__img">
									<img id="12" src="{% static 'portfolio/alapantan/img/product-big.jpg' %}" alt="">
								</div>
								<div class="products-col__info">
									<div class="products-col__saving">
										<b>-15%</b>
										<span>Экономия 56 р</span>
									</div>
									<h3 class="products-col__name"><a href="#">Масло конопляное с добавлением льняного Алтэя 100 мл</a></h3>
									<div class="products-col__stars">
										<img src="{% static 'portfolio/alapantan/img/stars-row.png' %}" alt="">
									</div>
								</div>
							</div>
							<div class="products-col__wrap">
								<p class="products-col__price">319 р<span>375 р</span></p>
								<div class="products-col__points">+10<span>баллов</span></div>
							</div>
							<div class="products-col__bottom">
								<a href="#" class="products-col__btn">Купить</a>
								<a href="#" class="products-col__like"></a>
							</div>
						</div>
					</div>
				</div><!-- slide(5) -->
				<div class="recommended-slide">
					<div class="products-col">
						<div class="products-col__block">
							<a href="#" class="products-col__tag">хит</a>
							<div class="products-col__row">
								<div class="products-col__img">
									<img id="12" src="{% static 'portfolio/alapantan/img/product-big.jpg' %}" alt="">
								</div>
								<div class="products-col__info">
									<div class="products-col__saving">
										<b>-15%</b>
										<span>Экономия 56 р</span>
									</div>
									<h3 class="products-col__name"><a href="#">Масло конопляное с добавлением льняного Алтэя 100 мл</a></h3>
									<div class="products-col__stars">
										<img src="{% static 'portfolio/alapantan/img/stars-row.png' %}" alt="">
									</div>
								</div>
							</div>
							<div class="products-col__wrap">
								<p class="products-col__price">319 р<span>375 р</span></p>
								<div class="products-col__points">+10<span>баллов</span></div>
							</div>
							<div class="products-col__bottom">
								<a href="#" class="products-col__btn">Купить</a>
								<a href="#" class="products-col__like"></a>
							</div>
						</div>
					</div>
				</div><!-- slide(6) -->
			</div>
		</div>
	</section>
	<!-- end recommended -->


{% endblock %}

