{% extends "portfolio/alapantan/layout/basic.html" %}
{% load static %}
{% block title %} question {% endblock %}

{% block content %}
	<!-- start buy -->
	<section class="buy news-alapa">
		<div class="wrapper">
			<ul class="bread-crumbs">
				<li><a href="#">Главная</a></li>
				<li>Вопрос/Ответ</li>
			</ul>
			<div class="cabinet-top">
				<h1 class="page-name">Часто задаваемые вопросы</h1>
				<a href="#" class="cabinet-exit cabinet-share"><span class="ico-hb ico-share"></span>Поделиться</a>
			</div>	
		</div>
		<div class="wrapper page-row">
			<div class="page-content">
				<div class="page-questions">
					<h3 class="questions-title">Вопросы о доставке</h3>
					<div class="description-accordeon accordeon">
						<div class="description-top">
							<h3 class="description-top__title">Доставляете ли Почтой России?</h3>
						</div>
						<div class="description-block accordeon-block">
							<div class="questions-top">
								<p>Да, мы доставляем Почтой России. Стоимость доставки от 250 руб. и рассчитывается от веса посылки.</p>
								<p>Срок доставки от 3 до 5 дней, в зависимости от региона.</p>
							</div>
							<div class="questions-bottom">
								<div class="questions-bottom__row">
									<a href="#" class="questions-like"><span class="ico-hb ico-like"></span>10</a>
									<a href="#" class="questions-link">Полезен ли ответ?</a>
								</div>
								<div class="share">
									<div class="share-text">Поделиться<span class="ico-hb ico-share"></span></div>
									<ul>
										<li><a href="#" class="ico-hb vk-ico"></a></li>
										<li><a href="#" class="ico-hb ok-ico"></a></li>
										<li><a href="#" class="ico-hb fb-ico"></a></li>
										<li><a href="#" class="ico-hb tw-ico"></a></li>
										<li><a href="#" class="ico-hb lk-ico"></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="description-accordeon accordeon">
						<div class="description-top">
							<h3 class="description-top__title">Доставляете ли Почтой России?</h3>
						</div>
						<div class="description-block accordeon-block">
							<div class="questions-top">
								<p>Да, мы доставляем Почтой России. Стоимость доставки от 250 руб. и рассчитывается от веса посылки.</p>
								<p>Срок доставки от 3 до 5 дней, в зависимости от региона.</p>
							</div>
							<div class="questions-bottom">
								<div class="questions-bottom__row">
									<a href="#" class="questions-like"><span class="ico-hb ico-like"></span>10</a>
									<a href="#" class="questions-link">Полезен ли ответ?</a>
								</div>
								<div class="share">
									<div class="share-text">Поделиться<span class="ico-hb ico-share"></span></div>
									<ul>
										<li><a href="#" class="ico-hb vk-ico"></a></li>
										<li><a href="#" class="ico-hb ok-ico"></a></li>
										<li><a href="#" class="ico-hb fb-ico"></a></li>
										<li><a href="#" class="ico-hb tw-ico"></a></li>
										<li><a href="#" class="ico-hb lk-ico"></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<h3 class="questions-title">Вопросы об оплате</h3>
					<div class="description-accordeon accordeon">
						<div class="description-top">
							<h3 class="description-top__title">Доставляете ли Почтой России?</h3>
						</div>
						<div class="description-block accordeon-block">
							<div class="questions-top">
								<p>Да, мы доставляем Почтой России. Стоимость доставки от 250 руб. и рассчитывается от веса посылки.</p>
								<p>Срок доставки от 3 до 5 дней, в зависимости от региона.</p>
							</div>
							<div class="questions-bottom">
								<div class="questions-bottom__row">
									<a href="#" class="questions-like"><span class="ico-hb ico-like"></span>10</a>
									<a href="#" class="questions-link">Полезен ли ответ?</a>
								</div>
								<div class="share">
									<div class="share-text">Поделиться<span class="ico-hb ico-share"></span></div>
									<ul>
										<li><a href="#" class="ico-hb vk-ico"></a></li>
										<li><a href="#" class="ico-hb ok-ico"></a></li>
										<li><a href="#" class="ico-hb fb-ico"></a></li>
										<li><a href="#" class="ico-hb tw-ico"></a></li>
										<li><a href="#" class="ico-hb lk-ico"></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="description-accordeon accordeon">
						<div class="description-top">
							<h3 class="description-top__title">Доставляете ли Почтой России?</h3>
						</div>
						<div class="description-block accordeon-block">
							<div class="questions-top">
								<p>Да, мы доставляем Почтой России. Стоимость доставки от 250 руб. и рассчитывается от веса посылки.</p>
								<p>Срок доставки от 3 до 5 дней, в зависимости от региона.</p>
							</div>
							<div class="questions-bottom">
								<div class="questions-bottom__row">
									<a href="#" class="questions-like"><span class="ico-hb ico-like"></span>10</a>
									<a href="#" class="questions-link">Полезен ли ответ?</a>
								</div>
								<div class="share">
									<div class="share-text">Поделиться<span class="ico-hb ico-share"></span></div>
									<ul>
										<li><a href="#" class="ico-hb vk-ico"></a></li>
										<li><a href="#" class="ico-hb ok-ico"></a></li>
										<li><a href="#" class="ico-hb fb-ico"></a></li>
										<li><a href="#" class="ico-hb tw-ico"></a></li>
										<li><a href="#" class="ico-hb lk-ico"></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="catalog-control">
					<a href="#" class="second-btn"><img src="{% static 'portfolio/alapantan/img/update.png' %}" alt=""><span>Показать еще</span></a>
					<div class="pagination">
						<ul>
							<li><a class="active" href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
						</ul>
						<a href="#" class="pagination-ico pagination-next"></a>
					</div>
				</div>
			</div>
			<div class="page-sidebar page-sidebar__second">
				<div class="page-search">
					<form action="">
						<input type="text" name="text" placeholder="Поиск в новостях...">
						<button class="search-btn"></button>
					</form>
				</div>
				<div class="page-sidebar__row">
					<div class="categories">
						<h3 class="sidebar-title">Навигация по странице</h3>
						<ul>
							<li><a href="#">Вопросы о доставке<span>10</span></a></li>
							<li><a href="#">Вопросы об оплате<span>5</span></a></li>
							<li><a href="#">Вопросы по возврату<span>4</span></a></li>
							<li><a href="#">Общие вопросы<span>12</span></a></li>
						</ul>
					</div>
					<div class="questions-sidebar">
						<p>Если Вы не нашли ответ на интересующий вопрос,<br>Вы можете обратиться<br>по телефону <a href="#">8 (800) 555-35-35</a><br>или задать вопрос в <a href="#">чате</a></p>
						<img src="{% static 'portfolio/alapantan/img/questions_ image.svg' %}" alt="">
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end buy -->

{% endblock %}

