{% load static %}

<!DOCTYPE html>
<head>
  <title> {% block title %} The Bookshelf {% endblock %}</title>
   <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
   <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/basic/paper_scroll_main.css' %}" />
  {% block styles %}{% endblock %}
</head>
<body>

  

<div class="content_block">
  <div class="left_block">
    <div class="scroll_container">
      <div id="scroll_header" class="scroll_header">
        <h1  class="scroll_title"> {% block scroll_title %}  THE BOOKSHELF  {% endblock %} </h1> 
      </div>
      <div class="scroll_blockheader"></div>

      <div class="scroll_content">
      <div class="left_column">
        <div class="left_column_boxes">
          <h4 class="scroll_info_subtitle">Navigation</h4>
          <div class="navcontainer">
            <ul class="navlist">
              <li class="active"><a href="" class="current">Home</a></li>
              <li><a href="">Community</a></li>
              <li><a href="">Add book</a></li>
              <li><a href="">About author</a></li>
              <li><a href="">Site map </a></li>
            </ul>
          </div>
        </div>
        {% block scroll_left_colum %}
        <div class="left_column_boxes">
          <h4 class="scroll_info_subtitle">News</h4>
          <dl>
            <dt class="news">This is a definiton list</dt>
            <dd>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed quam.  Nullam gravida aliquet odio. Phasellus ullamcorper tincidunt orci.  Praesent vel purus. Sed porttitor. Proin porttitor suscipit urna. Morbi  rhoncus posuere orci.</dd>
            <dt class="news">Lists are cool</dt>
            <dd>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed quam.  Nullam gravida aliquet odio. Phasellus ullamcorper tincidunt orci.  Praesent vel purus. Sed porttitor. Proin porttitor suscipit urna. Morbi  rhoncus posuere orci.</dd>
          </dl>
        </div>

        <div class="left_column_boxes">
          <h4 class="scroll_info_subtitle">Contact me</h4>
          <form id="form1" method="post" class="contact_me" action="">
            {% csrf_token %}
            <p>
              <label class="form1_subtitle">Name
              <input type="text" class="fields_contact_me" name="textfield" />
              </label>
              <label  class="form1_subtitle">E-mail
              <input type="text" class="fields_contact_me" name="textfield1" />
              </label>
              <label class="form1_subtitle"> Your question:
              <textarea name="textarea" cols="" rows=""></textarea>
              </label>
              <label class="form1_subtitle">
              <input type="submit" class="submit_button_contact" name="Submit1" value="Submit" />
              </label>
            </p>
          </form>
        </div>
        {% endblock %}
      </div>

      <div class="scroll_text_block">
        {% block scroll_text %}

      {% endblock %}
    </div>
    </div>

      <div class="scroll_footer"></div>
    </div>
  </div>
  <div class="right_block">
    {% block right_block %} {% endblock %}
  </div>
</div>
</html>
