<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{page.title}}</title>
</head>
<body>
<p>{{ links }}</p>
<p>{{ page.title }}</p>
{% if page_items %}
<p>Вы видите:</p>
<ul>
{% for p_item in page_items  %}
    <li><a href="{% url 'take' page.book.id page.id p_item.id %}"> {{ p_item.name }} </a></li>
    {% endfor %}
</ul>
{% else %}
<p>Вы не видите ничего интересного</p>
{% endif %}
<p>-----------------------</p>
<ul>
{% for link in links  %}
    {% if link|last %}
    <li><a href =""> {{ link|first }} </a></li>
    {% else %}
    <li> <p>{{ link|first }}, вы понимаете ,что вам чего то не хватает, чтоб пройти</p> </li>
    {% endif %}
    {% endfor %}
</ul>
<h3>Инвентарь: </h3>
{% if progress.items.all %}
<ul>
{% for item in progress.items.all  %}
    <li>  {{ item.name }} </li>
    {% endfor %}
</ul>
{% else %}
<p>ваш инвентарь пуст</p>
{% endif %}
</body>
</html>