<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{page.title}}</title>
</head>
<body>
<p>{{ link_status_tuples }}</p>
<p>{{ page.title }}</p>
{% if page_items %}
<p>Вы видите:</p>
<ul>
{% for p_item in page_items  %}
    <li><a href="{% url 'take' page.book.id p_item.id %}"> {{ p_item.name }} </a></li>
    {% endfor %}
</ul>
{% else %}
<p>Вы не видите ничего интересного</p>
{% endif %}
<p>-----------------------</p>
<ul>
{% for link,status in link_status_tuples  %}
    {% if status %}
    <li><a href ="{% url 'go_to' page.book.id link.id %}"> {{ link }} </a></li>
    {% else %}
    <li> <p>{{ link }}, вы понимаете ,что вам чего то не хватает, чтоб пройти</p> </li>
    {% endif %}
    <p>{{ page.book.id }} == book.id</p>
    <p>{{ link.to_page.id }} ==to_page.id</p>
    {% endfor %}
</ul>
<h3>Инвентарь: </h3>
{% if progress.items.all %}
<ul>
{% for item in progress.items.all  %}
    <li>  {{ item.name }} </li>
    {% endfor %}
</ul>
{% else %}
<p>ваш инвентарь пуст</p>
{% endif %}
</body>
</html>