<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{book.title}}: saves</title>
</head>
<body>

<h3>Книга: {{ book.title }}</h3>
<a href="{% url 'save_new' book.id  %}">[create new save]</a>
<p>Saves:</p>
<ul>
    {% for save in saves  %}
    <li>
        <a href="{% url 'save_delete' book.id save.id %}">[Удалить]</a>
        <a href="{% url 'load_from' book.id save.id %}">[Загрузить]</a>
        <a href="{% url 'save_to' book.id save.id %}">[Заменить]</a>
        [{{ save.updated_at|date:'Y.m.d H:i:s' }} ]=> {{ save.book_page.title }}
    </li>
    {% endfor %}
</ul>

<a href="{% url 'book' book.id %}">Вернуть к прочтению</a>

</body>
</html>